.about-us-left-side {
  background-color: #fbf9f9;
  padding: 40px;
}
.about-us-left-side h4 {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 18px;
  font-size: 20px;
  color: #363636;
}
.about-us-left-side p {
  padding: 10px;
  font-size: 18px;
  line-height: 32px;
  color: #6b6666;
}
.about-us-left-side a {
  font-size: 16px;
  transition: 0.5s ease;
}
.about-us-left-side a:hover {
  border-radius: 0 10px 0 10px;
}
@media screen and (max-width: 768px) {
  .about-us-righ-side {
    display: none;
  }
}
