/* start header section styles */
.img-header {
  min-height: 90vh;
}
.overlay {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
  min-height: 90vh;
}
.header-title {
  color: #fff;
  margin: 200px;
  max-width: 500px;
  float: left;
}
@media screen and (max-width: 1200px) {
  .header-title {
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  .overlay,
  .img-header {
    min-height: 100%;
  }
}
@media screen and (max-width: 678px) {
  .header-title h1 {
    font-size: 20px;
  }
  .header-title h3 {
    font-size: 16px;
  }
  .header-title a {
    font-size: 14px;
  }
}
